/* Sean Decker - Style Sheet */
#container, #nameForm {
    
    text-align: center;
    overflow: hidden;
    
}

.topChoices {
    
    height: 150px;
    width: 225px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; 
    
}

.midChoices {
    
    height: 100px;
    width: 150px;
    padding: 15px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    transition-timing-function: ease-in;
    
}

.botChoices {
    
    height: 100px;
    width: 100px;
    padding: 15px;
    margin-top: 5%;
    
}

.submitButton {

    height: 65px;
    width: 15%;
    margin: 15px;

}